# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.turbo/
*.tsbuildinfo
.next/
.expo/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Test
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
Thumbs.db
